<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relative URL Page</title>
    <h1>Welcome to Relative URL Templates</h1>


    <!--NEED TO SET UP APP_NAME IN URLS.PY OF THE APP THAT THIS IS CALLING-->
    <!--DO NOT HAVE SPACE IN BETWEEN THE QUOTES-->
    <a href="{% url 'template_app_vs:other' %}">The Other Page</a>
    <a href="{% url 'admin:index' %}">Link to Admin</a>
    <a href="{% url 'index' %}">Link to Index</a>
</head>
<body>
    
</body>
</html>